* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchRender {
  width: 80%;
  margin: 20px auto;
  border: 1px solid crimson;
  height: auto;
  border-radius: 5px;
  padding: 20px;
}

.search-container {
  display: flex;
  gap: 20px;
}

.translate {
  margin-left: 400px;
}
